/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; 
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
}

.completed {
    background-color: #e0ffe0; /* Light green for completed tasks */
    text-decoration: line-through; /* Strikethrough text for completed tasks */
}
